.popup-newsletter {
	font-family: 'Roboto';
	position: fixed;
	z-index: 101010;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0,0,0,0.70);
}
	.popup-newsletter-inner {
		position: absolute;
		left: 30%;
		right: 30%;
		top: 20%;
		/*bottom: 30%;*/
		min-height: 40px;
		height: auto;
		background: white;
		padding: 23px;
		text-align: center;
	}
		.popup-newsletter-inner .popup-newsletter-header {
			text-align: center;
			
		}
			.popup-newsletter-inner .popup-newsletter-header .popup-newsletter-title {
				color: #2a80c7;
				font-weight: 300;
				text-transform: uppercase;
			}
			.popup-newsletter-inner .btn {
				background: #2a80c7;
				border-radius: 0px;
				font-weight: 300;
				text-transform: uppercase;
			}
			.popup-newsletter-inner p {
				margin: 20px 0px;
				font-size: 19px;
				font-weight: 300;
			}
			.popup-newsletter-inner .input {margin: 20px 0px;}
			.popup-newsletter-inner .input .form-control {
				border-radius: 0px;
				height: 40px;
			}
			.popup-newsletter-inner .close-button {
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				background: #2a80c7;
				width: 30px;
				height: 30px;
				color: white;
				padding: 2px;
				padding-left: 10px;
				border-bottom-left-radius: 100px;
				cursor: pointer;
			}
			.popup-newsletter-inner .close-button:hover,
			.popup-newsletter-inner .close-button:focus {
				text-decoration: none;
			}

.popup-newsletter {
	display: none;
}
html.active-popup-newsletter {
	overflow-y: hidden;
}
html.active-popup-newsletter .popup-newsletter {
	display: block;
}
/*media*/
@media (max-width: 965px) {
	.popup-newsletter-inner {
		left: 20%;
		right: 20%;
	}
}
@media (max-width: 640px) {
	.popup-newsletter-inner {
		left: 10%;
		right: 10%;
		top: 7%;
	}
}
@media (max-width: 280px) {
	.popup-newsletter-inner {
		left: 1%;
		right: 1%;
	}
}