.wrap {
    padding: 50px 10px;
    border: 1px solid #E1E1E1;
}

#nlVal {
    display: inline-block;
}

#slider {
    width: 100%;
    height: 10px;
    background: lightgrey;
    border-radius: 50px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-top: -33px;
    margin-left: -10px;
    text-align: left;
    font-size: 13px;
}

#slider label:last-of-type::after {
    content: "+";
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 100%;
    background: #fff;
    border: none;
    width: 25px;
    height: 25px;
    top: -10px;
    cursor: grab;
    box-shadow: 2px 2px 10px 2px #b3adad;
}

.ui-slider-handle.ui-state-active,
.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-focus {
    border: none;
    outline: 0;
}

.ui-slider-handle.ui-state-active:after {
    content: "miles";
    position: absolute;
    top: -40px;
    left: -19px;
    background: red;
    color: white;
    font-size: 0.7em;
    padding: 5px 8px;
}

.ui-slider-handle.ui-state-active:before {
    content: "";
    background: red;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -20px;
    transform: rotate(45deg);
}

ul.sub-cat {
    display: none;
    margin-left: 45px;
    margin-top: 10px;
}

ul.sub-cat li {
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

ul.sub-cat li a img {
    justify-self: right;
}

ul.sub-cat li a {
    grid-template-columns: 25px 1fr;
}

.account-popup .form-container .single-field label.checkbox::before {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
}

.account-popup .form-container .single-field label.checkbox.checked::before {
    content: "✓";
}

.ui-widget-content {
    border: 0 !important;
    width: 100% !important;
}

li.filter-sort img {
    display: none;
}

.grid img {
    display: block !important;
}

.g-recaptcha>div {
    margin: auto;
}

.top-listing-image {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.site-notification {
    transition: opacity 0.3s;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 5px 1em 3px 1em !important;
    font-size: 12px;
    font-weight: bold;
}

.tagComponent {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tagComponent ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.tagComponent li {
    margin-top: 5px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    background-color: #EBEBEB;
    text-align: center;
    font-size: 12px;
    color: #575151;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}

.tagComponent img {
    height: 8px;
    margin-left: 10px;
}

.sell-item .slider .slider-box.selected {
    background: #3072B5 !important;
    border: 2px solid #fff !important;
}

.slick-list.draggable {
    padding: 10px 0;
}

.sell-item .slider .slider-box.selected span {
    color: #fff !important;
}

.sell-item .slider .slider-box.selected h5 {
    color: #fff !important;
}

.sell-item .slider .slider-box.selected:focus-visible,
.sell-item .slider .slider-box.selected:focus {
    outline: unset !important;
}

.checkout-popup h3,
.payment-popup h3 {
    font-size: 1.17em;
}

.hide {
    display: none;
}


/* The Modal (background) */

.available-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.available-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 90%;
    margin-top: 40%;
    border-radius: 10px;
}


/* The Close Button */

.available-close {
    float: right;
    margin-top: -3px;
}

.square {
    width: 100%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}